*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #dfe6e9;
}

.container {
	height: 550px;
	width: 350px;
	margin: 100px auto;
	background: #ccc;
	border: 2px solid #000;
	border-radius: 20px;
}

h1{
	text-align: center;
	font-size: 30px;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 5px;
	background: #3B3B98;
	color: #fff;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}


p{
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px; 
	font-size: 25px;
}

input{

	margin-left: 90px;
	width: 150px;
	padding: 3px;
	border: 1px solid black;
	border-radius: 6px;
}

input:hover,
#dropdown:hover {
	width: 155px;
	border: 1.5px solid black;
}

input::placeholder{
	text-align: center;
}

#dropdown{
	margin-left: 90px;
	border: 1px solid black;
	border-radius: 6px;
	cursor: pointer;
}

#calc{
	margin: 45px;
	margin-left: 120px;
	padding: 10px;
	font-size: 15px;
	border-radius: 10px;
	box-shadow: none;
}

#calc:hover {
	background: #0984e3;
	border-color: #0984e3;
	font-size: 16px;
}

#totalTip {
  font-size: 30px;
  margin-top: 3px;
  text-align: center;
}

#totalTip:before {
  content: "Tip amount";
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

#totalTip sup {
  font-size: 20px;
  top: -18px;
}

#totalTip small {
  font-size: 20px;
  font-weight: bold;
  display: block;
}